body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 200px;
  }
  
  .login-container {
    border: 1px solid #ccc;
    padding: 90px;
    width: 300px;
    margin: 0 auto;
    
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }