.top-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
  }
  
  .top-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-radius: 2px;
  }
  
  .top-buttons img {
    width: 24px;
    height: 24px;
  }